.container{
    width: 50%;
    margin: auto auto;
}

.calc-button-row{
    display: flex;
}

.button{
    width: 50px;
    height: 40px;
    font-size: 20px;
    background: lightblue;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid royalblue;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background: whitesmoke;
}

.button:active{
    background: blueviolet;
}

.equal-btn{
    width: 250px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
    margin: 5px;
    border: 3px solid royalblue;
    border-radius: 10px;
}

.equal-btn:hover{
    background: whitesmoke;
}

.equal-btn:active{
    background: blueviolet;
}
#typed-numbers{
    font-size: 18px;
    border: 2px solid darkblue;
    height: 20px;
    width: 240px;
    margin: 5px;
    background: lightgoldenrodyellow;
    padding: 4px 5px;
    border-radius: 5px;
}

.result{
    margin: 5px;
    height: 20px;
    padding: 5px 8px;
    font-size: 20px;
}